@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans');
$headerfont: "din-2014","Ropa Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$bodyfont: "Open Sans", sans-serif;

$black: #000001;
$red: #dc0228;
$darkishgray: #616974;
$lightgray: #E4E8EB;